<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="databaseUrl" value="https://docs.google.com/spreadsheets/d/14HT0w3qaRPknzxeHysswVMUfry8J2G_RHY8k48Nmy5w/export?format=xlsx"/>
      <add key="databaseUrlDefault" value="https://docs.google.com/spreadsheets/d/14HT0w3qaRPknzxeHysswVMUfry8J2G_RHY8k48Nmy5w/export?format=xlsx"/>
    </appSettings>
</configuration>